*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body{
  background-color:rgb(33, 37, 41);
}

.container{
  margin-top: 3%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-align: center;
  flex-direction: row;

}

.box{
  color: white;
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 7px 3px gray;
  text-align: center;
  margin: 25px auto;
  background-color: black;

}
h3{
  margin-top: 10px;
  font-size: 16px;

}
.box-sub{
  width: 270px;
  height: 90px;
  background-color:rgba(0,0,0,0.5);
  line-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

a .iconNotification{
  color: white;
}

a .iconEditProfile{
  color:black;
}

.avatar img{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: -50%;
    vertical-align: top;
    border-style: solid;
    border-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-color: white;
}